<include file="./Application/Admin/View/header.html" />

	<body>
		<div class="container">
			<include file="./Application/Admin/View/header2.html" />
		</div>
			<include file="./Application/Admin/View/left.html" />
            <div class="span9">
                    <h1>
                        系统状态
                    </h1>
                    <div class="well summary">
                        <ul>
                            <li>
                                <a href="#"><span class="count">3</span> 条数据</a>
                            </li>
                            <li>
                                <a href="#"><span class="count">27</span> 个数据库</a>
                            </li>
                            <li>
                                <a href="#"><span class="count">7</span> 个用户</a>
                            </li>
                            <li class="last">
                                <a href="#"><span class="count">5</span> Files</a>
                            </li>
                        </ul>
                    </div>
                    <h2>
                        Recent Activity
                    </h2>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Project
                                </th>
                                <th>
                                    Client
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Date
                                </th>
                                <th>
                                    View
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Nike.com Redesign
                                </td>
                                <td>
                                    Monsters Inc
                                </td>
                                <td>
                                    New Task
                                </td>
                                <td>
                                    4 days ago
                                </td>
                                <td>
                                    <a href="#" class="view-link">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nike.com Redesign
                                </td>
                                <td>
                                    Monsters Inc
                                </td>
                                <td>
                                    New Message
                                </td>
                                <td>
                                    5 days ago
                                </td>
                                <td>
                                    <a href="#" class="view-link">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nike.com Redesign
                                </td>
                                <td>
                                    Monsters Inc
                                </td>
                                <td>
                                    New Project
                                </td>
                                <td>
                                    5 days ago
                                </td>
                                <td>
                                    <a href="#" class="view-link">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Twitter Server Consulting
                                </td>
                                <td>
                                    Bad Robot
                                </td>
                                <td>
                                    New Task
                                </td>
                                <td>
                                    6 days ago
                                </td>
                                <td>
                                    <a href="#" class="view-link">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Childrens Book Illustration
                                </td>
                                <td>
                                    Evil Genius
                                </td>
                                <td>
                                    New Message
                                </td>
                                <td>
                                    9 days ago
                                </td>
                                <td>
                                    <a href="#" class="view-link">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Twitter Server Consulting
                                </td>
                                <td>
                                    Bad Robot
                                </td>
                                <td>
                                    New Task
                                </td>
                                <td>
                                    16 days ago
                                </td>
                                <td>
                                    <a href="#" class="view-link">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Twitter Server Consulting
                                </td>
                                <td>
                                    Bad Robot
                                </td>
                                <td>
                                    New Project
                                </td>
                                <td>
                                    16 days ago
                                </td>
                                <td>
                                    <a href="#" class="view-link">View</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Twitter Server Proposal
                                </td>
                                <td>
                                    Bad Robot
                                </td>
                                <td>
                                    Completed Project
                                </td>
                                <td>
                                    20 days ago
                                </td>
                                <td>
                                    <a href="#" class="view-link">View</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pager">
                        <li class="next">
                            <a href="activity.htm">More &rarr;</a>
                        </li>
                    </ul>
                    <ul class="pager">
                        <li class="next">
                            More Templates <a href="http://www.mycodes.net/" target="_blank">源码之家</a> <a href="http://www.mycodes.net/153/" title="网页模板" target="_blank">网页模板</a>
                        </li>
                    </ul>
                </div>
		</div>
		
	</body>
</html>