
<div class="row">
                <div class="span3">
                    <div class="well" style="padding: 8px 0;">
                        <ul class="nav nav-list">
                            <li class="nav-header">
                                管理面板
                            </li>
                            <li class="active">
                                <a href="{:U('Index/index', '', '')}"><i class="icon-white icon-home"></i> 系统状态</a>
                            </li>
                            <li>
                                <a href="{:U('Manage/info', '', '')}"><i class="icon-folder-open"></i> Projects</a>
                            </li>
                            <li>
                                <a href="{:U('Manage/tasks', '', '')}"><i class="icon-check"></i> Tasks</a>
                            </li>
                            <li>
                                <a href="messages.htm"><i class="icon-envelope"></i> Messages</a>
                            </li>
                            <li>
                                <a href="files.htm"><i class="icon-file"></i> Files</a>
                            </li>
                            <li>
                                <a href="activity.htm"><i class="icon-list-alt"></i> Activity</a>
                            </li>
                            <li class="nav-header">
                                Your Account
                            </li>
                            <li>
                                <a href="profile.htm"><i class="icon-user"></i> Profile</a>
                            </li>
                            <li>
                                <a href="settings.htm"><i class="icon-cog"></i> Settings</a>
                            </li>
                            <li class="divider">
                            </li>
                            <li>
                                <a href="help.htm"><i class="icon-info-sign"></i> Help</a>
                            </li>
                            <li class="nav-header">
                                Bonus Templates
                            </li>
                            <li>
                                <a href="gallery.htm"><i class="icon-picture"></i> Gallery</a>
                            </li>
                            <li>
                                <a href="blank.htm"><i class="icon-stop"></i> Blank Slate</a>
                            </li>
                        </ul>
                    </div>
                </div>

                
                