<include file="./Application/Admin/View/header.html" />

	<body>
		<div class="container">
			<div class="navbar">
				<include file="./Application/Admin/View/header2.html" />
				</div>
			</div>
				<include file="./Application/Admin/View/left.html" />
				<div class="span9">
					<h1>
						下载完成
					</h1>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>
									数据库名称
								</th>
								<th>
									yu la
								</th>
							</tr>
						</thead>
						<tbody>
						<foreach name="result" item="v">
							<tr>
								<td>
									{$v['name']}
								</td>
								<td>
									{$v['client']}
								</td>
								<td>
									<span class="badge">{$v['done']}</span>
								</td>
								<td>
									<span class="badge">{$v['referer']}</span>
								</td>
								<td>
									<div class="progress">
										<div class="bar" style="width: 0%;"></div>
									</div>
								</td>
							</tr>
						</foreach>
						</tbody>
					</table>
					
					
				</div>
			</div>
		</div>
=
	</body>
</html>
